body {
    background: linear-gradient(135deg, #00c9ff, #92fe9d);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #007BFF;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    font-weight: normal;
    margin-bottom: 30px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0056b3;
}
.logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* espaço entre logo e título */
    margin-bottom: 20px;
}

.logo {
    width: 80px;  /* ajusta conforme o tamanho da sua imagem */
    height: 80px;
}

form button {
    display: block;
    width: 100%;
    margin-top: 10px; /* espaço entre os botões */
    padding: 10px;
    font-size: 16px;
}

.secundario {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.secundario:hover {
    background-color: #0056b3;
}

/*Pagina qrcode_stration*/

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #007BFF, #00C896);
    color: white;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px;
}

button:hover {
    background: #218838;
}

video {
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

#status {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}
